{% load static %}
<div class="resume-date text-md-right">
    <span class="text-primary">Since 2013!</span>
</div>
<h1 class="mb-0">Fine Arts
<span class="text-primary">Club</span>
</h1>
<div class="subheading mb-5">National · Institute · of · Technology · Agartala. ·
<a href="mailto:name@email.com">fineartsclub.nita@gmail.com</a>
</div>
<p class="lead mb-5">The <b>Fine Arts Club</b> was founded with an aim to bring out the creative bone of the students of college. It has been started to help students break free from monotonous college life and bring out their creativity. It is one of the most active club of the college. The club functions throughout the year in various events. It also conducts two exhibitions yearly as part of both the technical fest <b>AAYAM</b> and cultural fest <b>MOKSHA</b>.</p>
<div class="social-icons">
    <a href="https://www.facebook.com/fineartsclubnita/">
        <i class="fa fa-facebook-f"></i>
    </a>
    <a href="https://www.instagram.com/fineartsclub.nita/">
        <i class="fa fa-instagram"></i>
    </a>
    <a href="https://www.google.com/search?q=fineartsclub+nit+Agartala&oq=fineartsclub+nit+Agartala&aqs=chrome..69i57j69i60.6256j0j4&client=ms-android-oneplus&sourceid=chrome-mobile&ie=UTF-8#trex=m_t:lcl_akp,rc_f:rln,rc_ludocids:3660328826694275194,ru_lqi:ChlmaW5lYXJ0c2NsdWIgbml0IEFnYXJ0YWxhWikKDGZpbmVhcnRzY2x1YiIZZmluZWFydHNjbHViIG5pdCBhZ2FydGFsYQ">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
    </a>
    <a href="mailto:fineartsclub.nita@gmail.com">
        <i class="fa fa-envelope" aria-hidden="true"></i>
    </a>
</div>
