{% load static %}
<h2 class="mb-5">Events</h2> 
<div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
    <div class="resume-content">
    <h3 class="mb-0">Exhibitions</h3>
    <div class="subheading mb-3">Arts and Crafts</div>
    <p>We organize exhibitions to showcase the talent of our members during our college fests. We try to draw the spotlight upon the students for their skills and artworks.</p>
    </div>
    <div class="resume-date text-md-right">
    <span class="text-primary">During Ayaam and Moksha</span>
    </div>
</div>

<div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
    <div class="resume-content">
    <h3 class="mb-0">Contests</h3>
    <div class="subheading mb-3">Online and Offline</div>
    <p>We conduct several competitions which are conducted both online and offline and the type of competition ranges from doodling to Rangoli making.</p>
    </div>
    <div class="resume-date text-md-right">
    <span class="text-primary">Monthly Event</span>
    </div>
</div>

<div class="resume-item d-flex flex-column flex-md-row justify-content-between">
    <div class="resume-content">
    <h3 class="mb-0">Fest Visits</h3>
    <div class="subheading mb-3">Any IITs or NITs</div>
    <p>We visit the college fest of the NITs and IITs of various states where all the members take part in various competitions including graffiti making,live sketching etc. that they conduct.</p>
    </div>
    <div class="resume-date text-md-right">
    <span class="text-primary">Yearly Event</span>
    </div>
</div>