{% load static %}
<h2 class="mb-5">Footer</h2>
<!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-4 mr-auto my-md-4 my-0 mt-4 mb-1">
  
          <!-- Content -->
          <h5 class="font-weight-bold text-uppercase mb-4">Thank You!</h5>
          <p>Visit our club whenever you visit <b>NIT Agartala</b></p>
          <p>Copyright ©2020 All Rights Reserved | This Website is designed by <a href="https://deepjyoti13.github.io/portfolio/"><b>Deepjyoti De</b></a> & <a href="https://debaprasad-dez.github.io/myweb/"><b>Debaprasad Paul</b></a>.</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
  
          <!-- Contact details -->
          <h5 class="font-weight-bold text-uppercase mb-4">Contact Us:</h5>
  
          <ul class="list-unstyled">
            <li>
              <p>
                We are hearing you.
              </p>
            </li>
            <li>
              <h5>
                Our email ID:
              </h5>
            </li>
            <li>
              <p>
                <a href="mailto:fineartsclub.nita@gmail.com"><i class="fas fa-envelope mr-3"></i>fineartsclub.nita@gmail.com</a>
              </p>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 text-center mx-auto my-4">
  
          <!-- Social buttons -->
          <h5 class="font-weight-bold text-uppercase mb-4">Follow Us:</h5>
          <div class="social-icons">
          <!-- Facebook -->
          <a href="https://www.facebook.com/fineartsclubnita/">
            <i class="fab fa-facebook-f"></i>
          </a>
          <!-- Twitter -->
          <a href="https://www.instagram.com/fineartsclub.nita/">
            <i class="fab fa-instagram"></i>
          </a>
          </div>
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019-20 Copyright: <span class="text-primary">Fine Arts Club</span>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
