{% load static %}

<h2 class="mb-5">Art Gallery</h2>
<div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
    <div class="resume-content">
    <a href="{% url 'penpaper' %}"><button class="btn btn-lg btn-info">Pen Paper Gallery</button></a>
    <div class="subheading mb-3">Art works done by the students on pen and paper</div>
    <div>Pencils, colors, canvas and a little bit of imagination.</div>
    <p>with <i class="fa fa-pencil" aria-hidden="true"></i> <i class="fa fa-paint-brush" aria-hidden="true"></i></p>
    </div>
    <div class="resume-date text-md-right">
    <span class="text-primary">MADE WITH <i class="fa fa-heart" aria-hidden="true"></i></span>
    </div>
</div>

<div class="resume-item d-flex flex-column flex-md-row justify-content-between">
    <div class="resume-content">
        <a href="{% url 'digital' %}"><button class="btn btn-lg btn-info">Digital Illustration Gallery</button></a>
    <div class="subheading mb-3">Art works done by the students on screens</div>
    <div>Adobe, skills, image-processing and immense passion.</div>
    <p>on <i class="fa fa-desktop" aria-hidden="true"></i> <i class="fa fa-mobile" aria-hidden="true"></i></p>
    </div>
    <div class="resume-date text-md-right">
    <span class="text-primary">MADE WITH <i class="fa fa-heart" aria-hidden="true"></i></span>
    </div>
</div>
