{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel = "icon" href ="https://imagizer.imageshack.com/img923/4513/dsiSR7.png" type = "image/x-icon">
  <title>Fine Arts Club, NIT-A.</title>
  <style>
    body::-webkit-scrollbar {
      display: none;
    }
    body {
      overflow-x: hidden;
    }
  </style>
  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/FAC.css' %}" rel="stylesheet">

</head>

<body id="page-top">

  {%  include 'FAC/navbar.html' %}
  <div style="z-index: -100; position: fixed; top: 0; height: 100vh; width: 100%; background: white;"></div>
  <div class="container-fluid p-0">

    <section id="fac">
      <div class="w-100">
        {%  include 'FAC/landing.html' %}
      </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        {%  include 'FAC/about.html' %}
      </div>
    </section>

    

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="events">
      <div class="w-100">
        {%  include 'FAC/events.html' %}
      </div>
    </section>

    

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="gallery">
      <div class="w-100">
        {%  include 'FAC/gallery.html' %}
      </div>
    </section>

    

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="moments">
      <div class="w-100">
        {%  include 'FAC/moments.html' %}
      </div>
    </section>

    

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="team">
      <div class="w-100">
        {%  include 'FAC/team.html' %}
      </div>
    </section>

    

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="notice">
      <div class="w-100">
        {%  include 'FAC/notice.html' %}
      </div>
    </section>

    {%  include 'FAC/footer.html' %}

  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/resume.min.js' %}"></script>
  <!--Start of Tawk.to Script-->
        <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/5ee71c064a7c6258179a988c/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
        })();
        </script>
    <!--End of Tawk.to Script-->
</body>

</html>
