<h2 class="mb-5">Moments</h2>
<div class="subheading mb-5">We create memories together in the journey with our club.</div>
<marquee behavior="alternate" onmouseover="this.stop()" onmouseout="this.start()" scrollamount="20">
    {% for m in moment%}
        {% if m.id <= 10 %}
            <img src="{{m.img.url}}" width="auto" height="200" scrolldelay="100"/>
        {% endif %}
    {% endfor %}
</marquee>
<a href="{% url 'moments' %}"><button class="btn btn-md btn-danger">See More</button></a>
