{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span style="background: rgb(0,0,0,0.4); padding: 10px;" class="d-block d-lg-none"><img style="width: 8vw;" src="{% static 'img/flc.png' %}">Fine Arts Club</span>
      <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{% static 'img/FAC.png' %}" alt="Fine Arts Club Profile Picture">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about" style="text-align:center; padding: 5px;background: rgb(0,0,0,0.4);margin-bottom: 10px;">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#events" style="text-align:center; padding: 5px;background: rgb(0,0,0,0.4);margin-bottom: 10px;">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#gallery" style="text-align:center; text-align:center; padding: 5px;background: rgb(0,0,0,0.4);margin-bottom: 10px;">Art Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#moments" style="text-align:center; padding: 5px;background: rgb(0,0,0,0.4);margin-bottom: 10px;">Moments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#team" style="text-align:center; padding: 5px;background: rgb(0,0,0,0.4);margin-bottom: 10px; style="padding: 5px;background: rgb(0,0,0,0.4);margin-bottom: 10px;"">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#notice" style="text-align:center; padding: 5px;background: rgb(0,0,0,0.4);margin-bottom: 10px;">Notice</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#footer" style="text-align:center; padding: 5px;background: rgb(0,0,0,0.4);margin-bottom: 10px;">Footer</a>
        </li>
      </ul>
    </div>
  </nav>
