{% load static %}
    <style>
        .teamnote {
            font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
            font-weight: 700;
            text-transform: uppercase;
            color: #343a40;
            font-size: 5vw;
            margin-left: 5vw;
            margin-top: 6vw;
        }
        .tz-gallery {
            padding: 40px;
        }
        
        .tz-gallery .thumbnail {
            padding: 0;
            margin-bottom: 30px;
            border-radius: 4px;
            border: none;
            transition: 0.15s ease-in-out;
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
        }
        
        .tz-gallery .thumbnail:hover {
            transform: translateY(-10px) scale(1.02);
        }
        
        .tz-gallery img {
            border-radius: 4px 4px 0 0;
        }
        
        .tz-gallery .caption{
            text-align: center;
            padding: 26px 30px;
        }
        
        .tz-gallery .caption h3 {
            font-size: 14px;
            font-weight: bold;
            margin-top: 0;
        }
        
        .tz-gallery .caption p {
            font-size: 12px;
            color: #7b7d7d;
            margin: 0;
        }
        
        .baguetteBox-button {
            background-color: transparent !important;
        }
    </style>


    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">

    
    <h2 class="mb-5">Team members</h2>
    <div class="tz-gallery">
        <div class="row">
            <div class="col-sm-4 col-md-4 h-100">
                <div class="thumbnail">
                    <a href="{% static 'img/DrSrimantaRay.jpeg' %}" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="{% static 'img/DrSrimantaRay.jpeg' %}" alt="{{member.position}}">
                    </a>
                    <div class="caption social-icons">
                        <h4>Dr. Srimanta Ray</h4>
                        <h5>Faculty Co-ordinator</h5>
                        <h6>HOD, Chemical Engineering</h6>
                        <a href="http://www.nita.ac.in/fac/chemical_sray.html"><i class="fa fa-globe" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 h-100">
                <div class="teams">
                    <div class="d-print-block">
                        <p class="teamnote">The Core Team Members of the Fine Arts Club are:</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% for member in teammembers %}
            {% if member.current %}
            <div class="col-sm-4 col-md-4 h-100">
                <div class="thumbnail">
                    <a href="{{member.img.url}}" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="{{member.img.url}}" alt="{{member.position}}">
                    </a>
                    <div class="caption">
                        <h4>{{member.name}}</h4>
                        <h5>{{member.position}}</h5>
                        <div class="social-icons">
                            {% if member.facebook %}
                            <a href="{{member.facebook}}">
                                <i class="fa fa-facebook-f"></i>
                            </a>
                            {% endif %}
                            {% if member.instagram %}
                            <a href="{{member.instagram}}">
                                <i class="fa fa-instagram"></i>
                            </a>
                            {% endif %}
                            {% if member.github %}
                            <a href="{{member.github}}">
                                <i class="fa fa-github"></i>
                            </a>
                            {% endif %}
                            {% if member.linkedin %}
                            <a href="{{member.linkedin}}">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            {% endif %}
                            {% if member.gmail %}
                            <a href="{{member.gmail}}">
                                <i class="fa fa-envelope"></i>
                            </a>
                            {% endif %}
                            {% if member.twitter %}
                            <a href="{{member.gmail}}">
                                <i class="fa fa-twitter"></i>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% endfor %}
        </div>
        
    </div>
    <a href="{% url 'veterans' %}"><button class="btn btn-md btn-danger" style="text-decoration: none;">View our past members</button></a>

<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>
